.container {
  &Absolute {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9999999;
  }

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.indicator {
  &Absolute {
    margin: auto;
  }

  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.indicator div {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: greenyellow;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.indicator div:nth-child(1) {
  left: 8px;
  animation: indicator1 0.6s infinite;
}

.indicator div:nth-child(2) {
  left: 8px;
  animation: indicator2 0.6s infinite;
}

.indicator div:nth-child(3) {
  left: 32px;
  animation: indicator2 0.6s infinite;
}

.indicator div:nth-child(4) {
  left: 56px;
  animation: indicator3 0.6s infinite;
}

@keyframes indicator1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes indicator3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes indicator2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
